@font-face {
    font-family: BoschSans;
    src: url("./BoschSans-Regular.ttf");
}
html{
    overflow-x:hidden;
    background-color: #eaebeb;
    }

* {
    font-family: BoschSans;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 40px;
}
h4{
    font-size: 20px;
}

.supergraphic{
    background-image: url("../img/Bosch-Supergraphic.svg");
    background-size: cover;
    height: 10px;
    background-repeat: no-repeat, repeat;
}
.list{
    width: 100vw;
    background-color: #ffffff;
    height: 80px;    
    /* margin: 0;
    padding: 0; */
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow:  1px 1px 5px #cbcccc;
    /* justify-content: space-evenly;     */
}
.list img{
    height: 50px;  
    width: 160px;
}
.box{
    box-shadow: 3px 4px 5px #cbcccc;
    background-color: #ffffff;
    width: 50%;
    max-height: 70%;
    height: 560px;
    margin: 0 auto; 
    max-width: 600px; 
    padding: 30px;
    margin-top: 20px;
}
.btn{
    background-color:#04AA6D;
	border-radius: 7px;
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:12px 6px; 
	text-decoration:none;
    width: 70px;
    height: 50px;
    box-sizing: border-box;
}
.form-input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #d3d3d3;
    border-radius: 4px;
    border-bottom: 2px solid #d3d3d3;
    background-color: white;
    background-size: 20px;
    background-image: url('../img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-bottom: 30px;
}
.form-input-qtd{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #d3d3d3;
    border-radius: 4px;
    border-bottom: 2px solid #d3d3d3;
}

.btnForm{
    margin-top: 20px;
    float: right;
}
.div_card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: #04AA6D; */
}

.card{
    background-color: #E0E2E5;
    border-radius: 10px;
    min-width: 270px;
    max-width: 70%;
    min-height: 130px;
    max-height: 70%;
    margin: 10px;
    text-align: center;
    justify-content: center;
    padding: 5px;
}